<div class="body">

  <header id="header">
    <div class="logo"><a href="index.html">College´s Room <span></span></a></div>
    <a (click)="onAuth()" class="button alt">Iniciar Sesion</a>
  </header>

<!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </nav>

<!-- Banner -->
<!--
  Note: To show a background image, set the "data-bg" attribute below
  to the full filename of your image. This is used in each section to set
  the background image.
-->
  <section id="banner" class="bg-img" data-bg="../../../assets/images/banner.jpg">
    <div class="inner">
      <header>
        <h1>College's Room</h1>
      </header>
    </div>
    <a href="#one" class="more">Learn More</a>
  </section>

<!-- One -->
  <section id="one" class="wrapper post bg-img" data-bg="../../../assets/images/banner2.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Nuestra Pagina Web</h2>
        </header>
        <div class="content">
          <p>Es una página web que te brinda la comodidad de encontrar una habitación cerca a tu Unniversidad de forma rápida, segura y económica. <br> Pensada principalmete en los estudaintes y sus necesidades eonomicas y educativas. </p>
        </div>
        <footer>

        </footer>
      </article>
    </div>
    <a href="#two" class="more">Learn More</a>
  </section>

<!-- Two -->
  <section id="two" class="wrapper post bg-img" data-bg="../../../assets/images/banner5.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Precio</h2>

        </header>
        <div class="content">
          <p>Podrás encontrar diferentes precios en cada una de las habitaciones con su respectiva descripción.</p>
        </div>
        <footer>

        </footer>
      </article>
    </div>
    <a href="#three" class="more">Learn More</a>
  </section>

<!-- Three -->
  <section id="three" class="wrapper post bg-img" data-bg="../../../assets/images/banner4.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Ubicación e Infraestructuera</h2>

        </header>
        <div class="content">
          <p>Te brindará información acerca de su dirección con especificiones de la cercanía a tu Universidad. Por otra parte se encargará de mostrarte el contenido multimedia acerca del espacio de la habitación y sus condiciones.</p>
        </div>
        <footer>
        </footer>
      </article>
    </div>
    <a href="#four" class="more">Learn More</a>
  </section>

<!-- Four -->
  <section id="four" class="wrapper post bg-img" data-bg="../../../assets/images/banner3.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Reglas y Servicios</h2>
        </header>
        <div class="content">
          <p>Encontraras una descripción con las reglas que debes cumplir dentro de tu habitación y convivencia. Además observarás los servicios básicos con los que cuentas y los derechos a los que tienes acceso.</p>
        </div>
        <footer>
        </footer>
      </article>
    </div>
  </section>

<!-- Footer -->
  <footer id="footer">
    <div class="inner">

      <h2>Contacto</h2>

      <ul class="icons">
        <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>

      <div class="copyright">
        &copy; College's Room. 2022
      </div>

    </div>
  </footer>



</div>
