.tarjeta-form{
  padding: 25px 0px;
}

.icon-trash{
  color: rgb(219, 52, 52);
}

.icon-trash:hover{
  color: rgb(141, 20, 20);
}

.agregar{
  margin-bottom: 15px;
}

.msg{
  color: rgb(196, 12, 12);
  font-weight: 600;
}
